.container {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: "Times New Roman", Times, serif;
}

.load {
  font: bold 30px;
  color: white;
  display: flex;
  justify-content: center; /*좌우정렬*/
  align-content: center; /*상하정렬*/
}

.movie {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: minmax(300px, auto);
  grid-gap: 30px;
}
